# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [34]:
chipo.all().count()

5

In [35]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [37]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [42]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [43]:
chipo.item_name.value_counts().idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [81]:
chipo.groupby(['item_name']).count().sort_values(['quantity'],ascending=False)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,726,726,726,726
Chicken Burrito,553,553,553,553
Chips and Guacamole,479,479,0,479
Steak Burrito,368,368,368,368
Canned Soft Drink,301,301,301,301
Steak Bowl,211,211,211,211
Chips,211,211,0,211
Bottled Water,162,162,0,162
Chicken Soft Tacos,115,115,115,115
Chicken Salad Bowl,110,110,110,110
Chips and Fresh Tomato Salsa,110,110,0,110
Canned Soda,104,104,104,104
Side of Chips,101,101,0,101
Veggie Burrito,95,95,95,95
Barbacoa Burrito,91,91,91,91
Veggie Bowl,85,85,85,85
Carnitas Bowl,68,68,68,68
Barbacoa Bowl,66,66,66,66
Carnitas Burrito,59,59,59,59
Steak Soft Tacos,55,55,55,55
6 Pack Soft Drink,54,54,54,54
Chips and Tomatillo Red Chili Salsa,48,48,0,48
Chicken Crispy Tacos,47,47,47,47
Chips and Tomatillo Green Chili Salsa,43,43,0,43
Carnitas Soft Tacos,40,40,40,40
Steak Crispy Tacos,35,35,35,35
Chips and Tomatillo-Green Chili Salsa,31,31,0,31
Steak Salad Bowl,29,29,29,29
Nantucket Nectar,27,27,27,27
Barbacoa Soft Tacos,25,25,25,25
Chips and Roasted Chili Corn Salsa,22,22,0,22
Chips and Tomatillo-Red Chili Salsa,20,20,0,20
Izze,20,20,20,20
Veggie Salad Bowl,18,18,18,18
Chips and Roasted Chili-Corn Salsa,18,18,0,18
Barbacoa Crispy Tacos,11,11,11,11
Barbacoa Salad Bowl,10,10,10,10
Chicken Salad,9,9,9,9
Carnitas Crispy Tacos,7,7,7,7
Veggie Soft Tacos,7,7,7,7
Burrito,6,6,6,6
Veggie Salad,6,6,6,6
Carnitas Salad Bowl,6,6,6,6
Steak Salad,4,4,4,4
Bowl,2,2,2,2
Salad,2,2,2,2
Crispy Tacos,2,2,2,2
Chips and Mild Fresh Tomato Salsa,1,1,0,1
Carnitas Salad,1,1,1,1
Veggie Crispy Tacos,1,1,1,1

In [102]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [107]:
chipo.choice_description.value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [110]:
chipo.quantity.count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [117]:
chipo.item_price.dtype

dtype('O')

In [118]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [125]:
lam=lambda a : float(a[1:])
chipo['item_price'] = chipo.item_price.apply(lam)

#### Step 13.c. Check the item price type

In [126]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [137]:
(chipo.item_price*chipo.quantity).sum()

39237.02

### Step 15. How many orders were made in the period?

In [139]:
len(chipo.order_id.unique())

1834

In [140]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [149]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
or_gro = chipo.groupby(by=['order_id']).sum()
or_gro.mean()['revenue']

C:\Users\DELL\AppData\Local\Temp\ipykernel_18724\1504131675.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  or_gro = chipo.groupby(by=['order_id']).sum()

21.39423118865867

In [152]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()

C:\Users\DELL\AppData\Local\Temp\ipykernel_18724\3995797595.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby(by=['order_id']).sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

### Step 17. How many different items are sold?

In [153]:
chipo.item_name.value_counts().count()

50